* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat" !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat" !important;
}

body {
  color: black;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.swiper {
  width: 100%;
  height: 500px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

